*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
src/main/java/cf/android666/wanandroid/utils/Logger.kt
src/main/res/drawable/inputbox_bg.xml
/app/release/
/app/beta/
/build/
